
.pagination {
  margin: 20px 0;
  text-align: right;
}

.extraContent {
  position: absolute;
  right: 0;
  bottom: 0;
}
.iceContainer {
    margin: 12px 12px 0;
    width: 90%;
    margin-left: 5%;
  }
  .spaces{
    height: 24;
 }

 .filterContain{
    margin: 12px 12px 0;
    width: 90%;
    margin-left: 5%;
    padding: 0 !important;
    padding-left: 20px !important;
     //padding-left: 20px !important;
 }
 
